<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="98491f2e-6bdb-40db-b994-cb57aa7b875b" Publisher="CN=Craig" Version="1.0.0.0" />
  <Properties>
    <DisplayName>MetroPad</DisplayName>
    <PublisherDisplayName>Craig</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
    <Description>MetroPad</Description>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2</OSMinVersion>
    <OSMaxVersionTested>6.2</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="MetroPad.App">
      <VisualElements DisplayName="MetroPad" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="MetroPad" ForegroundText="light" BackgroundColor="#222222">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
      <Extensions>
        <Extension Category="windows.fileTypeAssociation">
          <FileTypeAssociation Name="MetroPad">
            <DisplayName>MetroPad</DisplayName>
            <SupportedFileTypes>
              <FileType ContentType="text/plain">.txt</FileType>
            </SupportedFileTypes>
          </FileTypeAssociation>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="removableStorage" />
    <Capability Name="documentsLibrary" />
    <Capability Name="internetClient" />
  </Capabilities>
</Package>